@import "tailwindcss";

@theme {
  /* fonts */
  --font-sans: "Inter var", system-ui, sans-serif;

  --color-sidebarBg: #111827;
  --color-primary-500: #1E40AF;
  --color-secondary-500: #9333EA;
  --color-info-500: #3B82F6;
  --color-success-500: #10B981;
  --color-warning-500: #F59E0B;
  --color-danger-500: #EF4444;
}

@plugin "@tailwindcss/typography";

@layer components {
  .btn {
    @apply px-4 py-2 bg-primary-500 text-white rounded-lg;
  }
}
